@use '../../../App.scss' as rs;

.mainBannerWrap {
  padding: clamp(0, 0, 0) clamp(12px, 0.8vw, 4rem);
  margin-bottom: 8rem;

  .bgImg {
    position: relative;
    margin-bottom: clamp(2rem, 4vh, 8rem);

    img {
      width: 100%;
    }

    .content {
      .imgBox {
        position: absolute;
        top: 20%;
        left: 5%;
        max-width: 30%;
        max-height: 20px;
        height: auto;

        .logo {
          img {
            width: 100%;
          }

          &.logo3 {
            width: clamp(30px, 16vw, 14.6rem);
            aspect-ratio: 14.6/15.8;
          }

          &.logo1 {
            width: clamp(30px, 16vw, 26.6rem);
            aspect-ratio: 264/158;
          }
        }
      }

      .textBox {
        width: 40%;
        position: absolute;
        top: clamp(60%, 50%, 40%);
        left: 5%;
        transform: translate(-0%, -50%);

        .movieInfo {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 12px;
          @include rs.font(1.6rem, 600, #fff);
          font-size: clamp(1rem, 1.6vw, 1.6rem);
          word-break: break-all;
          margin-bottom: 34px;
          user-select: none;
          cursor: default;
          text-wrap: nowrap;

          .age {
            @include rs.age();
          }

          .releaseDate {
            font-size: clamp(12px, 1.2vw, 18px);
          }

          .time {
            font-size: clamp(12px, 1.2vw, 18px);
          }

          .genreTitle {
            font-size: clamp(12px, 1.2vw, 18px);
          }
        }
      }
    }
  }
}

// @include rs.respond(mobile) {
//   .mainBannerWrap {
//     padding: clamp(0, 0, 0) clamp(12px, 0.8vw, 4rem);
//     margin-bottom: 8rem;
//     border: 1px solid red;

//     .bgImg {
//       position: relative;
//       margin-bottom: clamp(2rem, 4vh, 8rem);

//       img {
//         width: 100%;
//       }

//       .content {
//         .imgBox {
//           position: absolute;
//           top: 20%;
//           left: 5%;
//           width: 30%;

//           .logo {
//             img {
//               width: 100%;
//             }

//             &.logo3 {
//               width: 14.6rem;
//               height: 15.8rem;
//             }

//             &.logo1 {
//               width: 264px;
//               height: 158px;
//             }
//           }
//         }
//       }
//     }
//   }
// }
