.KidsModeWrap {
  width: 100%;
  // margin-bottom: 30px;
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .toggleInput {
      display: none;
    }

    .toggleBg {
      position: relative;
      background: #ddd;
      width: 40px;
      height: 20px;
      padding: 2px;
      border-radius: 50px;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        transition: left 0.3s;
      }

      &.active {
        background: #33ddff;
        &::after {
          left: calc(100% - 44%);
        }
      }
    }
  }

  div {
    > p {
      font-size: 1.2rem;
    }
    .selectWrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      padding: 1rem 0;

      .dropdownWrap {
        position: relative;

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
          .dropdownHeader {
            pointer-events: none; // 클릭 방지
          }
        }

        .dropdownHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 8px;
          height: 4.8rem;
          padding: 0 2rem;
          background: transparent;
          border: 1px solid #888;
          color: #bbb;
          &.selected {
            border: 1px solid #fff;
          }

          .dropdownArrow {
            width: 16px;
            height: 16px;
            background: url(../../../../public/icon/dropdownOpen.svg) no-repeat;
          }

          p {
            &.selected {
              color: #fff; // 혹은 검정색(#000) 등 원하는 강조색
            }
          }
        }

        .dropdownList {
          display: none;
        }

        &.active {
          .dropdownHeader {
            border: 1px solid #fff;
            color: #fff;
            transition: 0.3s;

            .dropdownArrow {
              background: url(../../../../public/icon/dropdownClose.svg) no-repeat;
            }
          }

          .dropdownList {
            display: block;
            position: absolute;
            max-height: 200px; /* 최대 높이 지정 */
            overflow-y: auto;
            background: #25272c;
            border-radius: 8px;
            height: fit-content;
            border: 1px solid #888;
            color: #fff;
            margin-top: 5px;
            z-index: 5;
            width: 100%;

            &::-webkit-scrollbar {
              width: 8px;
            }
            &::-webkit-scrollbar-thumb {
              background: rgba(255, 255, 255, 0.1); // 배경
              border-radius: 4px;
            }

            li {
              width: 100%;
              line-height: 2.4;
              padding: 1rem 2rem;
              cursor: pointer;
              &:hover {
                background: #2d2f36;
              }
            }
          }
        }
      }
    }
  }
}
