@use '../../../App.scss' as rs;

.subTitleWrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .subLogo {
        align-content: center;

        img {
            width: 15rem;
            height: 8.5rem;
            filter: drop-shadow(0 4px 24px rgba(255, 255, 255, 0.4));
        }
    }

    .textBox {
        .title {
            margin-top: 2rem;
            @include rs.font(2.8rem, 500, #fff);
            white-space: nowrap;
        }

        .des {
            margin-top: 2rem;
            text-align: center;
            @include rs.font(1.4rem, 400, #fff);
            line-height: 150%;
        }
    }
}